<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- TODO edit values -->
        <add key="UploadUrl" value="http://192.168.1.15:5000/display"/>
        <add key="AADAppClientId" value="INSERT-GUID"/>
        <add key="AADAppTenantId" value="INSERT-GUID"/>
        <add key="AADAppRedirectUri" value="http://localhost:50275"/>
    </appSettings>
</configuration>