/ePaperTeamsPresence.Desktop/.vs/**
/ePaperTeamsPresence.Desktop/ePaperTeamsPresence.Desktop/*.csproj.user
/ePaperTeamsPresence.Desktop/ePaperTeamsPresence.Desktop/bin
/ePaperTeamsPresence.Desktop/ePaperTeamsPresence.Desktop/obj
