name: Windows-Build

on: push

jobs:
  Windows-Desktop-Build:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.3
      with:
        vs-version: '[16.4,)'

    - name: Build Desktop app
      run: |
        cd ePaperTeamsPresence.Desktop
        msbuild -t:restore
        msbuild